<div style="width: 50%;margin-left: 30%;margin-top: 20px;">
  <h3 class="my-4" style="text-align: center;">Import & Export Excel in <span class="text-primary">Angular</span></h3>
  <input class="my-2" type="file" (change)="readExcel($event)">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>phone number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of ExcelData">
        <th scope="row">{{d.id}}</th>
        <td>{{d.name}}</td>
        <td>{{d.email}}</td>
        <td>{{d.phonenumber}}</td>
      </tr>

    </tbody>
  </table>
</div>